@page
@model FrontEnd.Pages.Admin.AttendeesModel
@{
    ViewData["Title"] = "Attendees";
}

<h1>All attendees</h1>

<form authz="true" method="post">
    <div class="row">
        @foreach (var attendee in Model.Attendees)
        {
            <div class="col-md-3 mb-4">
                <div class="card shadow track h-100">
                    <div class="card-header">
                        <h5 class="card-title card-link"><a href="@attendee.Url">@attendee.FirstName @attendee.LastName</a></h5>
                    </div>
                    <div class="card-body">
                        @if (!Model.Conferences.Any())
                        {
                            <p><i>Not attending any conferences</i></p>
                        }
                        @foreach (var conference in Model.Conferences)
                        {
                            <div class="card-text">@conference.Name</div>
                        }
                    </div>
                    <div class="card-footer">
                        <p>@attendee.EmailAddress</p>
                        <a asp-page-handler="Remove" asp-route-username="@attendee.UserName" class="btn btn-danger btn-sm">Delete</a>
                        <a asp-page="/Admin/EditAttendee" asp-route-username="@attendee.UserName">Edit</a>
                    </div>
                </div>
            </div>
        }
    </div>
</form>

