@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.ShowMessage)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Message
    </div>
}

@if (!Model.AreThereAnyConferences)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        There are no conferences in the following 5 days
    </div>
}

<div class="agenda">
    <div class="row">
        <div class="col">
            <a authz-policy="Admin" asp-page="/Admin/CreateConference">Create new conference</a>
        </div>
    </div>
    <form authz="true" method="post">
        <div class="row">
            @foreach (var conference in Model.Conferences)
            {
                <div class="col-md-3 mb-4">
                    <div class="card shadow session h-100">
                        <div class="card-body">
                            <h5 class="card-title"><a asp-route-id="@conference.ID">@conference.Name</a></h5>
                            <a asp-page="/Admin/Tracks" asp-route-conferenceId="@conference.ID">Tracks</a>
                        </div>
                        <div authz-policy="Admin" class="card-footer">
                            <input type="hidden" name="conferenceId" value="@conference.ID" />
                            <button type="submit" asp-page-handler="Remove" class="btn btn-danger btn-sm">Delete Conference</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </form>

    @if (Model.SelectedConference != null)
    {
        <h1>Conference "@Model.SelectedConference.Name",  @System.DateTime.Now.Year</h1>

        <h6><a asp-page="/Admin/Tracks" asp-route-conferenceId="@Model.SelectedConference.ID">Tracks</a></h6>

        <ul class="nav nav-pills mb-3">
            @foreach (var day in Model.DayOffsets)
            {
                <li role="presentation" class="nav-item">
                    <a class="nav-link @(Model.CurrentDayOffset == day.Offset ? "active" : null)" asp-route-id="@Model.SelectedConference.ID"
                       asp-route-day="@day.Offset">@day.DayOfWeek?.ToString()</a>
                </li>
            }
        </ul>

        <partial name="_SessionsPartial" model="Model.Sessions" />

    }
</div>
