@page
@model FrontEnd.Pages.Admin.SpeakersModel
@{
    ViewData["Title"] = "Speakers";
}

<h1>All speakers</h1>

<form authz="true" method="post">
    <p authz-policy="Admin" class="mb-0">
        <a asp-page="/Admin/CreateSpeaker">Create new Speaker</a>
    </p>

    <div class="row">
        @foreach (var speaker in Model.Speakers)
        {
            <div class="col-md-3 mb-4">
                <div class="card shadow track h-100">
                    <div class="card-header">
                        <h5 class="card-title"><a asp-page="Speaker" asp-route-id="@speaker.ID">@speaker.Name</a></h5>
                    </div>
                    <div class="card-body">
                        @foreach (var session in speaker.Sessions)
                        {
                            <h6><a asp-page="Session" asp-route-id="@session.ID">@session.Title</a></h6>
                        }
                    </div>
                    <div class="card-footer">
                        <div class="card-link">@speaker.WebSite</div>
                        <button type="submit" authz-policy="Admin" asp-page-handler="Remove" asp-route-id="@speaker.ID" class="btn btn-danger btn-sm">Delete Speaker</button>
                    </div>
                </div>
            </div>
        }
    </div>
</form>


