@using ConferenceDTO
@model SessionsPartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@foreach (var timeSlot in Model.SessionsGroupedByTime)
{
    <h4>@timeSlot.Key?.ToString("HH:mm")</h4>
    <div class="row">
        @foreach (var session in timeSlot)
        {
            <div class="col-md-3 mb-4">
                <div class="card shadow session h-100">
                    <div class="card-header">@session.Track?.Name</div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-page="Session" asp-route-id="@session.ID">@session.Title</a>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <ul class="list-inline mb-0">
                            @foreach (var speaker in session.Speakers)
                            {
                                <li class="list-inline-item">
                                    <a asp-page="Speaker" asp-route-id="@speaker.ID">@speaker.Name</a>
                                </li>
                            }
                        </ul>
                        <form authz="true" method="post">
                            <p class="mb-0">
                                <a authz-policy="Admin" asp-page="/Admin/EditSession" asp-route-id="@session.ID" class="btn btn-default btn-sm">Edit</a>
                                @if (Model.IsAttendingSession(session.ID))
                                {
                                    <button type="submit" asp-page-handler="RemoveSessionFromAttendee"
                                            asp-route-sessionId="@session.ID" class="btn btn-default btn-sm bg-transparent" title="Remove from my personal agenda">
                                        <i class="icon ion-md-star" aria-hidden="true"></i>
                                    </button>
                                }
                                else
                                {
                                    <button authz="true" type="submit" asp-page-handler="AddSessionToAttendee"
                                            asp-route-sessionId="@session.ID" class="btn btn-default btn-sm bg-transparent" title="Add to attendance">
                                        <i class="icon ion-md-star-outline" aria-hidden="true"></i>
                                    </button>
                                }
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
